<ion-header>
  <ion-toolbar>
    <ion-title>Add Timer</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="timerForm" (submit)="formSubmit()">
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label position="floating">Add title</ion-label>
            <ion-input formControlName="title" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Add description</ion-label>
            <ion-textarea formControlName="description" rows="3"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-datetime placeholder="Add date" [min]="minDate" [max]="maxDate" formControlName="date" required [value]="defaultDate">
            </ion-datetime>
          </ion-item>
          <ion-item >
            <ion-datetime placeholder="Add notification time" display-format="hh:mm A" picker-format="hh:mm A" minute-values="0,15,30,45" formControlName="datetime">
            </ion-datetime>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block">Save</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>