<ion-header>
  <ion-toolbar>
    <ion-title>Add Timer</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="timerForm" (submit)="formSubmit()">
    <ion-list>
      <ion-item>
        <ion-label>Title</ion-label>
        <ion-input formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Description</ion-label>
        <ion-textarea formControlName="description" rows="5"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime formControlName="date"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Alert</ion-label>
        <ion-checkbox formControlName="alert" color="primary"></ion-checkbox>
      </ion-item>
      <ion-item >
        <ion-label>Time</ion-label>
        <ion-datetime display-format="hh:mm A" picker-format="hh:mm A" formControlName="datetime"></ion-datetime>
      </ion-item>
      <ion-button type="submit" expand="block" fill="outline">Save</ion-button>
    </ion-list>
  </form>
</ion-content>