<ion-header class="ion-no-border">
  <ion-toolbar color="timer">
    <!-- <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" color="light"></ion-menu-button>
    </ion-buttons> -->
    <ion-buttons slot="primary">
      <ion-button (click)="createTimer()">
        <ion-icon name="add-outline" color="light" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" color="light">Timer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let timer of timers index as i" (click)="updateTimer(timer)">
      <ion-card-header>
        <ion-card-title>{{timer.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="timer-main">
          <div class="timer-container-left">
            <span class="timer-number-bold">{{timer.calculateDate}}</span>
            <span class="timer-calculateDate-item"> {{daysLeft[i]}}</span>
          </div>
          <div class="timer-container-right">
            <span [hidden]=!timer.datetime><ion-icon name="alarm" size="small"></ion-icon></span>
            <span class="timer-datetime-icon" #timer> {{timer.datetime | date: "shortTime"}}</span>

          </div>
        </div>
        <div class="timer-main">
          <div class="timer-container-left">
            <span> {{timer.date | date}}</span>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
