<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="small">Countdown Stack</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="createTimer()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card *ngFor="let timer of timers" (click)="updateTimer(timer)">
      <ion-card-header>
        <ion-card-title>{{timer.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div>{{timer.description}}</div>
        <div>{{timer.date | date}}</div>
        <div>{{timer.datetime | date: "shortTime"}}</div>
        <div>{{relativeTime}}</div>
      </ion-card-content>
    </ion-card>
    <!-- <ion-item>
      <ion-input placeholder="Title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Description"></ion-input>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime placeholder="Select Date"></ion-datetime>
    </ion-item> -->
    <!-- <ion-item>
      <ion-button (click)="simpleNotify()" expand="block" fill="clear">
        Repeating Daily
      </ion-button>
    </ion-item> -->
  </ion-list>

</ion-content>
