<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="simpleNotify()" expand="block" fill="clear">
    Schedule Basic
  </ion-button>
  <ion-button (click)="delayNotify()" expand="block" fill="clear">
    Delay Basic
  </ion-button>
  <ion-button (click)="delayNotify2()" expand="block" fill="clear">
    Delay Basic 2
  </ion-button>
  <ion-button (click)="recurringNotify()" expand="block" fill="clear">
    Recurring Notify
  </ion-button>
  <ion-button (click)="repeatingDaily()" expand="block" fill="clear">
    Repeating Daily
  </ion-button>
</ion-content>
