#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-header {
  ion-toolbar {
    padding: 0 3px;
  }
}

ion-card-title {
  --color: #444140;
  font-size: 16px;
  font-weight: bolder;
}

ion-card {
  border-radius: 12px;
  margin: 4px 4px;
  // box-shadow:
  // padding: 5px;
  // background-color: yellowgreen;
}

ion-icon {
  vertical-align: middle;
  // background-color: #e5625e;
}

.timer-main {
  display: flex;
  width: 100%;
  // justify-content: space-between;
}

.timer-container-left {
  flex: 1;
}

.timer-container-right {
  // flex: 1;
  text-align: right;
  // background-color: yellow;
}

.timer-number-bold {
  color: #e5625e;
  font-size: 14px;
  font-weight: 900;
}

.timer-calculateDate-item {
  color: #8c8c8c;
  font-size: 12px;
  font-weight: 600;
}

.timer-datetime-icon {
  color: #8c8c8c;
  font-size: 12px;
  font-weight: 700;
}
